@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 14px !important;
}

.bodyapex{
  background: url('./images/dogtricks.jpg') !important;
  opacity: 1;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;

  background-color: #F9F9F9 !important;
  padding-top: 15em !important;
  padding-bottom: 20em !important;
  padding-left: 10em !important;
  padding-right: 10em !important;
}

.bodyapex.mobile{
  background-color: #F9F9F9 !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  padding-left: 2.1em !important;
  padding-right: 1em !important;
}

.bodylight{
  background-color: #F9F9F9 !important;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
  padding-left: 9em !important;
  padding-right: 10em !important;
}

.bodylight.mobile{
  background-color: #F9F9F9 !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodydark{
  background-color: #393E41 !important;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
  padding-left: 9em !important;
  padding-right: 10em !important;
}

.bodydark.mobile{
  background-color: #393E41 !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodymain{
  background-color: #ffffff !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 10em !important;
  padding-right: 11em !important;
}

.bodymain.mobile{
  background-color: #ffffff !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1.5em !important;
  padding-right: 1em !important;
}

.navfooter {
  padding-top: 2em !important;
  padding-bottom: 26em !important;
  padding-left: 10em !important;
  padding-right: 11em !important;
  background: #F9F9F9;
  border-bottom: 0px solid #F9F9F9;
}

.navfooter.mobile {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 2em !important;
  padding-right: 1em !important;
  background: #F9F9F9;
  border-bottom: 0px solid #F9F9F9;
}

.footheader {
  color: #393E41 !important;
  padding-right: 0em !important;
}

.fontdark{
  color: #393E41 !important;
}

.fontlight{
  color: #F9F9F9 !important;
}

.navheader {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 9em !important;
  padding-right: 9em !important;
  background: #F9F9F9;
  border-bottom: 0px solid #F9F9F9;
}

.navheader.mobile {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: #F9F9F9;
  border-bottom: 0px solid #F9F9F9;
}

.menulink a{
  padding-left: 2em !important;
  padding-right: 0.5em !important;
  font-weight: bold;
  size: 20px;
  color:#393E41;
}

.menulink a:hover{
  color:#44BBA4;
}

.action.neg{
  color: #F9F9F9 !important;
  background: #E94F37 !important;
}

.action{
  color: #F9F9F9 !important;
  background: #44BBA4 !important;
}

.error{
  color: #E94F37 !important;
}

.positive{
  color: #44BBA4 !important;

}

.ui.modal:not(.compact) {
  width: calc(100% - 50px) !important;
  margin-left: 25px !important;
  height: calc(100% - 50px) !important;
  margin-top: 25px !important;
}