@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 14px !important;
}

.bodyrest2{
  background-color: #ffffff !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 10em !important;
  padding-right: 10em !important;
}

.bodyrest2.mobile{
  background-color: #ffffff !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodyrest1{
  background-color: #4c4c4c !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 10em !important;
  padding-right: 10em !important;
}

.bodyrest1.mobile{
  background-color: #4c4c4c !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodymain{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 11em !important;
  padding-right: 11em !important;
}

.bodymain.mobile{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.navfooter {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
  background: #4c4c4c;
  border-bottom: 0px solid #FFFFFF;
}

.navfooter.mobile {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: #4c4c4c;
  border-bottom: 0px solid #FFFFFF;
}

.footheader {
  color: #ffffff !important;
  padding-right: 0em !important;
}

.fontdark{
  color: #4c4c4c !important;
}

.fontlight{
  color: #ffffff !important;
}

.navheader {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
  background: #4c4c4c;
  border-bottom: 0px solid #FFFFFF;
}

.navheader a {
  color: #0c0c0c;
  text-decoration: unset;
  margin-left: 14px;
  margin-right: 14px;
}

.navheader a:hover {
  color: #FFC017;
}

.navheader.mobile {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: #4c4c4c;
  border-bottom: 0px solid #FFFFFF;
}

.navheader.mobile a {
  color: #0c0c0c;
  text-decoration: unset;
  margin-left: 14px;
  margin-right: 14px;
}

.navheader.mobile a:hover {
  color: #FFC017;
}