@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 14px !important;
}

.fullwidth{
  width: 100% !important;
  height: 56px !important;
  font-size: 14px !important;
  position: relative !important;
  border-radius: 4px !important;
  background-color: #FFFFFF;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 7px !important;
}

.bodymain{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 8em !important;
  padding-right: 8em !important;
}

.bodymain.mobile{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}